:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: rgb(59, 59, 59);
    --clr-dark:hsl(0, 0%, 0%);
    --clr-accent: #1fe6dc;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}


/* header */

#header img{
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    height: 100px;
    width: 125px;
    border-radius: 900px;

}

#header {
    background-color: var(--clr-dark);
    display: flex;
}

#navbar{
    margin-left: 1000px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

#navbar ul a{
    text-decoration: none;
}

.nav_item{
    color: var(--clr-accent);
    margin: 0px 10px;
}

/* Home  */
#home{
    background-color:gray;
    text-align: center;
}

.welcome{
    padding: 2em;
}
.welcome h1{
    font-size: var(--fs-h1);
    font-family: var(--ff-primary);
}
.welcome h2{
    font-size: var(--fs-h3);
    font-family: var(--ff-primary);
}





/* footer */
#footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
}

#footer a{
color: var(--clr-accent);
}

.contact ul{
    display: flex;
    
}

.contact {
    padding: 1.5em 0px;
    
}

.contact_icon{
    text-decoration: none;
    margin: 2em;
}

.contact_icon:hover{
    opacity: .7em;
}

.contact_list{
    justify-content: center;
    padding: 0px;
}