
.mandala{
    padding: 20px;
    /* color: white; */
    position: relative;
}

.mandala--img{
    width: 400px;
    height: 250px;
    padding: 15px 10px;
    border-radius: 20px;
   
}

.imj{
    margin: 10px;
    /* background-color: rgba(0, 0, 0, 0.913); */
    display: flex;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;
}

.mandala--content {
    padding: 10px ;
}
.mandala--content p{
    padding-top: 20px;
}
.mandala--content h3{
    font-size: 1.25em;
    padding-bottom: 10px;
    font-weight: bolder;
}
.mandala--content h4{
    font-size: 1.25em;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;

}

